.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding-bottom: 60px;
  background-color: var(--card_gray);
  text-align: center;
}

.footer p {
  margin-bottom: 0px;
}

.creditText {
  color: #ddd;
  /* font-family: "OldSansBlack"; */
}

.mhq {
  color: white;
  transition: 1s all;
  /* font-family: "OldSansBlack"; */
}

.mhq:hover {
  color: white;
  text-decoration: none;
  opacity: 0.9;
}

.viewCode {
  color: #ddd;
  display: block;
  transition: 1s all;
  font-size: 12px;
}

.viewCode:hover {
  color: #ddd;
  text-decoration: none;
  opacity: 0.9;
}
