/* Footer */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding-bottom: 60px;
  background-color: var(--card_gray);
  text-align: center;
}

footer p {
  margin-bottom: 0;
}

.credits-text {
  color: #ddd;
  font-family: "OldSansBlack";
}

footer .mhq {
  color: white;
  transition: 1s all;
  font-family: "OldSansBlack";
}

footer .mhq:hover {
  color: white;
  text-decoration: none;
  opacity: 0.9;
}

footer .view-code {
  color: #ddd;
  display: block;
  transition: 1s all;
  font-size: 12px;
}

footer .view-code:hover {
  color: #ddd;
  text-decoration: none;
  opacity: 0.9;
}

/* Modal Error */
.modal-content {
  background-color: var(--card_gray) !important;
  color: white;
}

.modal-content button {
  background-color: var(--brand_dark);
  border: none;
}

.modal-content button:hover {
  opacity: 0.9;
  background-color: var(--brand_dark);
  border: none;
}
