.containerCard {
  transition: all 0.7s;
  background-color: var(--card_gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 14px 12px;
}

.textCenter {
  text-align: center;
}

.containerCard:hover {
  text-decoration: none;
}

.containerCardImg {
  z-index: 2;
}

.pokemonName {
  font-size: 20px;
  text-transform: capitalize;
  color: white;
  text-align: center;
  margin-top: 14px;
  font-weight: bold;
  letter-spacing: 2px;
}

.pokemonNumber {
  margin-top: 4px;
  color: var(--lightest_gray);
}

.btnDetalle {
  cursor: pointer;
  font: inherit;
  color: rgb(8, 8, 8);
  background-color: #ececec;
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 0.5rem 2.5rem;
}

.btnDetalle:hover {
  background-color: #030303;
  border-color: #f3f3f3;
}

.textColor {
  color: white;
}
